version: 2.1

orbs: 
  go: circleci/go@1.7.1
  

run:
when: "branch =~ '.*' OR pull_request =~'.*'"  
jobs:
  manylinux2014-aarch64:
    parameters:
      cibw_build:
        type: string
        default: "cp37-*"
    

    machine:
      image: ubuntu-2004:202101-01
    resource_class: arm.medium
    steps:
      - checkout
      - run:  make check-k8s-clusterrole
      - run:  make -C install/kubernetes
      - run:  test -z "$(git status --porcelain)" || (echo "please run 'make -C install/kubernetes' and submit your changes"; exit 1)
      - run:  curl https://baltocdn.com/helm/signing.asc | gpg --dearmor | sudo tee /usr/share/keyrings/helm.gpg > /dev/null 
      - run:  sudo apt-get install apt-transport-https --yes 
      - run:  echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/helm.gpg] https://baltocdn.com/helm/stable/debian/ all main" | sudo tee /etc/apt/sources.list.d/helm-stable-debian.list 
      - run:  sudo apt-get update 
      - run:  sudo apt-get install helm 
      - run:  sudo apt-get install curl && sudo apt-get install apt-transport-https
      - run:  sudo apt-get install wget
      - run:  wget https://github.com/kubernetes/minikube/releases/download/v1.26.0/minikube-linux-arm64
      - run:  sudo cp minikube-linux-arm64 /usr/local/bin/minikube
      - run:  sudo chmod 755 /usr/local/bin/minikube
      - run:  minikube version
      - run:  curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/arm64/kubectl
      - run:  chmod +x ./kubectl
      - run:  sudo mv ./kubectl /usr/local/bin/kubectl
      - run:  minikube start --network-plugin=cni --cni=false
      - run:  pwd
      - run:  ls 
      - run:  helm version
      - run:  helm install cilium ./install/kubernetes/cilium 
                 --wait 
                 --namespace kube-system 
                 --set nodeinit.enabled=true 
                 --set kubeProxyReplacement=partial  
                 --set socketLB.enabled=false 
                 --set externalIPs.enabled=true 
                 --set nodePort.enabled=true 
                 --set hostPort.enabled=true 
                 --set bpf.masquerade=false 
                 --set ipam.mode=kubernetes 
                 --set image.repository=quay.io/cilium/cilium-ci  
                 --set image.tag=latest
                 --set image.pullPolicy=IfNotPresent 
                 --set image.useDigest=false 
                 --set hubble.relay.enabled=true  
                 --set hubble.relay.image.repository=quay.io/cilium/hubble-relay-ci 
                 --set hubble.relay.image.tag=latest
                 --set hubble.relay.image.pullPolicy=IfNotPresent 
                 --set hubble.relay.image.useDigest=false 
                 --set operator.image.repository=quay.io/cilium/operator 
                 --set operator.image.suffix=-ci 
                 --set operator.image.tag=latest
                 --set operator.image.pullPolicy=IfNotPresent 
                 --set operator.image.useDigest=false 
                 --set prometheus.enabled=true 
                 --set operator.prometheus.enabled=true 
                 --set hubble.enabled=true 
                 --set hubble.metrics.enabled="{dns,drop,tcp,flow,port-distribution,icmp,http}"  
                 --set ingressController.enabled=true 
jobs:
  sleep_600:
    steps:
      - run: sleep 600
      - run:  kubectl get pods -A
      - run:  kubectl wait -n kube-system --for=condition=Ready --all pod --timeout=9m
      - run:  kubectl wait --for condition=Established crd/ciliumnetworkpolicies.cilium.io --timeout=9m
      - run:  kubectl port-forward -n kube-system deployment/hubble-relay 4245:4245 
      - run:  kubectl apply -f ${{ env.CONFORMANCE_TEMPLATE }} 
      - run:  kubectl wait --for=condition=Available --all deployment --timeout=5m
     
      
workflows:
  version: 2.1
  main:
    jobs:
      - manylinux2014-aarch64:
          matrix:
            parameters:
              cibw_build:
                - "cp37*"
      - sleep_600:
          requires:
            - ios_package           
